<h1>RenaultEV</h1>
<div class="card">
    <div class="card-head"> <h3>C'est quoi RenaultEV</h3></div>
    <div class="card-body">
        Renault Electric Vehicles (Véhicules Électriques Renault) ,cette application permettrait à l'utilisateur de voir les emplacements de recharge sur la carte, d'afficher des informations à jour pour une station de recharge sélectionnée,  en plus de la navigation vers un emplacement choisi. Elle devrait fournir à l'utilisateur une interface interactive simple qui lui permette de parcourir la vaste multitude de points de charge avec facilité et clarté.    </div>

        <div class="card-body">

        <div class="image-container">
            <!-- Displaying the image using property binding -->
            <img [src]="imagePath" alt="Image Description">
        </div>
    </div>